<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<textarea id="mine">
{{ mine }}
</textarea>
<br>
<button id="go">Go</button>
<br>
<div id="theirs">
{{ theirs }}
</div>

<br>
<iframe id="result" src="result.html"></iframe>
<br>
<pre id="resultSource"></pre>
<script>
$.get("result.html", function(d){
	$("#resultSource").text(d);
});

function update(){
	$.post("result.html", {player:1, code: $("#go").text() }, function(d){$("#resultSource").text(d)});
}

$("#go").click(update);
</script>